/*****************************************
******        Basic layout     *********/

body {
  background: DodgerBlue;
  font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
}

/*****************************************
******        Header layout     *********/


main-header {
  margin: 0;
  background: DodgerBlue;
}

.name {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  color: #fff;

}




/*****************************************
******        Nav Panel         *********/

nav {
  text-align: center;
}

.nav-container {
  padding: 0 1em;
}

.main-nav {
  margin: 0 auto;
  padding: 0;
}

.main-nav li {
  background: DarkOrange;
  margin:  6px 10px;

}

.main-nav a {
  font-size: 1.5em;
  background: DarkOrange;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 10px;
}

a:visited {
  color: #fff;
}

.profile_picture {
  max-width: 70%;
  display: block;
  margin: 2em auto;
}

.about {
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0 2em;
  padding-bottom: 2em;
}

.skillslist {
  color: #fff;
  text-align: left;
  padding-left: 2em;
  margin-top: 0;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: hotpink;
}

/*****************************************
******        Content Panel         *********/


.content_wrap {
  background-color: #fff;
}

figure {
  margin-bottom: 10px;
}

.titles {
  text-align: center;
  font-size: 2em;
  color: DeepSkyBlue;
  margin: 0;
  padding: 1.5em;
}

.portfolio_imgs {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.sub_titles {
  text-align: center;
  color: #757575;
}

.captions {
  text-align: center;
  margin: 0 auto;
  padding: 0px 10px 20px;
  font-size: 1.2em;
}

/*****************************************
******        Bottom Panel         *********/

.contact_panel {
  margin-bottom: 20px;
}

.contact {
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 0;
  padding: 1.1em;
}

.contact_caption {
  text-align: center;
  margin: 0 auto;
  padding: 0px 10px 20px;
  font-size: 1.2em;
  color: #fff;
}

.contact_info {
  color: #fff;
}

.top_link {
  display: inline-block;
  float: right;
}

.top_link a {
  text-decoration: none;
}

.footer_wrap {
  margin: 0 auto;
  width: 90%;
  border-top: 2px solid #fff;
}
.footer_link {
  color: #fff;
  display: inline-block;
}

.footer_list {
  display: none;
}

/*****************************************
******        Clear Fix         *********/

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/*****************************************
******        Media Queries     *********/

@media (min-width: 768px) {

    .name {
      font-size: 2em;
      padding-bottom: 0;
    }

    .main-nav {
      font-size: .65em;
    }

    .titles {
      font-size: 1.3em;
    }

    .content_wrap {
      padding-right: 10px;
    }

    .project_page {
      max-width: 50%;
      float: left;
    }

    .footer_wrap {
      margin: 10px;
    }

    .main-nav li {
      display: inline-block;
      margin: 0;
    }

    .main-nav a {
      background: Dodgerblue;
    }

    .profile_picture {
      float: right;
      margin: 1em 2em 0 0;
      max-width: 30%;
    }

    .about {
      padding-right: 300px;
      padding-top: 1.5em;
      padding-bottom: 5em;
      text-align: left;
    }

    .contact {
      font-size: 1.5em;
    }

    .contact_caption {
      padding: 0 5em 1.2em;
    }

    .footer_wrap {
      margin: 0 auto;
    }

    .top_link {
      display: none;
    }

    .footer_list {
      display: inline-block;
    }

    .footer_list a {
      text-decoration: none;
    }

    .footer_list {
      list-style: none;
      float: right;
    }

    .footer_list li {
      display: inline-block;
      padding: 5px;
    }

    .sub_titles {
      font-size: 1.3em;
    }

    .captions {
      font-size: 1em;
    }

    .skillslist {
      float: left;
    }

    .skills {
      float: left;
      margin-top: 0;
      margin-bottom: 2em;
      margin-left: 2em;
    }
}

@media (min-width: 1024px) {

  .content_wrap {
    margin-left: 20px;
    margin-right: 20px;
  }

  .name {
    font-size: 1.5em;
    float: left;
    margin: .2em 1em;
  }

  .main-nav {
    font-size: .7em;
    float: right;
    margin: 2em;
    padding: 0;
  }

  .profile_picture {
    float: right;
    margin: 0;
    max-width: 40%;
    margin-top: 2em;
    margin-right: 3em;
    margin-bottom: 2em;
  }

  .about {
    clear: left;
    max-width: 50%;
    margin-top: 10px;
  }

  .content_wrap {
      padding-left: 5%;
      padding-right: 5%;
  }

  .project_page {
    max-width: 33.333%;
    float: left;
    margin-bottom: 3em;
  }

  .sub_titles {
    font-size: 1.2em;
  }

  .contact_caption {
    padding: 0 10em 2em;
  }

  .captions {
    font-size: .8em;
  }

  .titles {
    font-size: 1.5em;
  }

  .contact {
    font-size: 1.5em;
  }

}
